.logout-button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}

.logout-button:hover {
  color: white;
  width: ;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}

.google-signin {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #757575;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  padding: 0 16px;
  transition: all 0.2s ease-in-out;
}

.google-signin:hover {
  border-color: #4d90fe;
  box-shadow: 0 0 0 1px #4d90fe inset;
  color: #4d90fe;
}

.google-signin img {
  height: 18px;
  width: auto;
  margin-right: 10px;
}

.nav-label {
  height: 80px;
  padding: 15% !important;
}
